<div class="jumbotron">
    <h1>Jerry Shen's RESTFull API Server</h1>
    <img src="@Url.Content("~/Content/jshen.jpg")" alt="Jerry" />
    <p class="lead">Using C# based on MSSQL and MySQL which can provide RESTFul API Service for differenct apps including web apps, IOS / Android / Windows mobile apps.</p>
 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About Restful API</h2>
        <p>REST (REpresentational State Transfer) is a simple stateless architecture that generally runs over HTTPS/TLS to provide GET, POST, PUT, and DELETE operations.</p>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services.</p>
       
    </div>
    <div class="col-md-4">
        <h2>About Amazon Hosting</h2>
        <p>This API Server is hosted on Amazon EC2 with IIS service.</p>
        <p><a class="btn btn-default" href="https://aws.amazon.com/">AWS Console &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Jerry Shen</h2>
        <p>Jerry is an experienced IT developer with more than 13 years professional experience in Data Warehouse / Business Intelligence / Database Development, Data anaysis and integration, Reports Development, API services & web/mobile apps development.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/jerry-shen-09955790/">Jerry's Linkedin &raquo;</a></p>
    </div>
</div>
