@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using JSWebAPI_SQLVersion.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Help and Maintenance";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>****System Admin Maintenance****</h2>
            <p><a href="~/WebForms/Ying/ying_longin.aspx">Ying App Maintenance</a></p>
            <p><a href="~/WebForms/DailyLifeHelper/dlh_login.aspx">DailyLifeHelper App Maintenance</a></p>
          
            <p></p>

            <h2>****Function Under Testing****</h2>
            <p><a href="~/WebForms/TestingFunction/ConnecttoMySQLDEMO.aspx">connecttoMySQLDemo</a></p>
            <p><a href="~/WebForms/TestingFunction/SendEmail.aspx">send email</a></p>
            <p><a href="~/WebForms/TestingFunction/UploadtoS3.aspx">UploadtoS3</a></p>
            <p></p>

            <h2>****API Execution Status****</h2>
  
        </div>
    </section>
    
</div>
