@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using JSWebAPI_SQLVersion.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "About API Service";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Testing Function</h2>
            <p><a href="~/WebFormsforTest/ConnecttoMySQLDEMO.aspx">connecttoMySQLDemo</a></p>
            <p><a href="~/WebFormsforTest/SendEmail.aspx">send email</a></p>
            <p></p>
            <h2>Execute API return status:</h2>
            <p><a> -- Add New One API--</a></p>
            <p><a> 1: record has existed</a></p>
            <p><a> 2: create successfully</a></p>
            <p><a> 3: create failed.</a></p>
            <p><a> -- Delete API--</a></p>
            <p><a> 4: delete successfully</a></p>
            <p><a> 5: delete failed.</a></p>
            <p><a> 6: delete not found userid.</a></p>
            <p><a> -- Update API--</a></p>
            <p><a> 7: update successfully</a></p>
            <p><a> 8: delete failed.</a></p>
            <p><a> 9: delete not found userid.</a></p>
            <p><a> -- Query to check exist or not API--</a></p>
            <p><a>Example: QueryByUsernameSimple</a></p>
            <p><a> 10: Not exist.</a></p>
            <p><a> 11: Exist</a></p>
            <p><a> 12: Query Error</a></p>
            <p><a> -- Query details API--</a></p>
            <p><a> different codes</a></p>
            <p></p>
            <h2>SendPassword API status</h2>       
            <p><a> 2: get password and send email success</a></p>
            <p><a> 3: get password and send email success but insert history failed.</a></p>
            <p><a> 4: Get password success but send email failed!</a></p>
            <p><a> 5: No email exists</a></p>
            <p><a> </a></p>      
      
        </div>
    </section>
    
</div>
